/* Defines */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/GoogleSans-Regular.ttf) format('truetype');
}

:root {
    --color-android: #006ee8;
    --color-android-light: #2196F3;
    --color-android-dark: #1565C0;
    --color-gray: #666666;
    --color-light-gray: #e0e0e0;
    --file-name-width: 400px;
}
/* Defines */

/* Common */
* {
    padding: 0;
    margin: 0;
}
*,*::after,*::before {
    box-sizing: content-box; /* Fix for bootstrap */
}
body {
    line-height: 1.4em;
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    font-size: 16px;
    cursor: default;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

a {
    color: var(--color-android);
    text-decoration: none;
}
a:hover {
    color: var(--color-android-light);
}
a:active {
    color: var(--color-android-dark);
}

img {
    border: 0;
}
ul {
    list-style-type: none;
}

.tips {
    color: var(--color-gray);
}
/* Common */

/* Wrapper */
#bodyWrapper {
    width: 100%;
}
/* Wrapper */

/* Toolbar */
#divToolbarWrapper {
    border-bottom: 1px solid var(--color-light-gray);
}
#divToolbarWrapper .divToolbarLine {
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
}
#divToolbarWrapper .disabled {
    color: var(--color-gray);
    cursor: default;
}
#divToolbarWrapper #divToolbarFunc {
    border-bottom: 1px solid var(--color-android);
}
#divToolbarWrapper .toolbarFuncFramelessWin {
    padding-right: 0;
    -webkit-app-region: drag;
}
#divToolbarWrapper .toolbarFuncFramelessMac {
    padding-left: 80px;
    -webkit-app-region: drag;
}
#divToolbarWrapper #divToolbarFuncLeftPart,#divToolbarWrapper #divToolbarFuncRightPart {
    -webkit-app-region: no-drag;
}
#divToolbarWrapper #divToolbarFunc .toolbarButton,#divToolbarWrapper #divToolbarFunc .tips {
    float: left;
}
#divToolbarWrapper #divToolbarFuncLeftPart:after,#divToolbarWrapper #divToolbarFuncRightPart:after {
    content: '';
    display: block;
    clear: both;
}
#divToolbarWrapper #divToolbarFuncLeftPart {
    float: left;
}
#divToolbarWrapper #divToolbarFuncRightPart {
    float: right;
}
#divToolbarWrapper #divToolbarFuncLeftPart .toolbarButton {
    margin-right: 10px;
}
#divToolbarWrapper #divToolbarFuncRightPart .toolbarButton,#divToolbarWrapper #divToolbarFuncRightPart .tips {
    margin-left: 10px;
}
#divToolbarWrapper #divToolbarFunc .toolbarImgButton {
    padding: 0 16px;
    margin-left: 0px;
}
#divToolbarWrapper #divToolbarFuncRightPart .tips {
    margin-right: 6px;
}
#divToolbarWrapper #divToolbarFunc #aBtnWinMin {
    padding: 0 16px;
    margin-left: 10px;
}
#divToolbarWrapper #divToolbarFunc #divTipsWaiting {
    display: none;
}
#divToolbarWrapper #divToolbarPath {
    color: var(--color-gray);
}
#divToolbarWrapper #divToolbarPath .toolbarButton {
    color: var(--color-gray);
}
#divToolbarWrapper #divToolbarPathDevice,#divToolbarWrapper #divToolbarPathWrapper {
    float: left;
    height: 42px;
}
#divToolbarWrapper #divToolbarPathWrapper {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
#divToolbarWrapper #divToolbarPathWrapper #divToolbarPathEllipsis {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: white;
}
#divToolbarWrapper #divToolbarPathWrapper.overflow #divToolbarPathEllipsis {
    display: block;
}
#divToolbarWrapper #divToolbarPathWrapper #divToolbarPathContainer {
    position: absolute;
    top: 0;
    left: 0;
}
#divToolbarWrapper #divToolbarFuncRightPart .toolbarControlButton {
    cursor: default;
    user-select: none;
}
#divToolbarWrapper #divToolbarFuncRightPart .toolbarControlButton:hover,#divToolbarWrapper #divToolbarFuncRightPart .toolbarControlButton:active {
    background-color: #e5e5e5;
}
#aBtnTransfer {
    position: relative;
}
#aBtnTransfer.pendingFinish span.materialIcons {
    position: absolute;
    top: 9px;
    right: 6px;
}
#aBtnWinClose:hover,#aBtnWinClose:active {
    background-color: #e81123 !important;
}
#aBtnWinClose:hover img,#aBtnWinClose:active img {
    filter: invert(1);
}
/* Toolbar */

/* Dialog */
#divDialogWrapper {
    display: none;
}
#divDialogWrapper .modal-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    top: -100px !important;
}
#divDialogTitle {
    margin-bottom: 20px;
}
.divDialogButtonLine {
    margin-top: 10px;
}
#divDeviceList,#divTransferList {
    max-height: 200px;
    overflow: auto;
}
#divDeviceList {
    width: 300px;
}
#divDeviceList .deviceLine {
    margin-bottom: 10px;
}
#divDeviceList .deviceId {
    color: black;
}
#divDeviceList .deviceStatus {
    color: var(--color-gray);
}
#divTransferList {
    width: 500px;
}
#divTransferList .fileName,#divTransferList .transferProgress {
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#divTransferList .transferProgress {
    color: var(--color-gray);
}
#divTransferList .transferLine {
    position: relative;
}
#divTransferList .transferStop {
    position: absolute;
    right: 4px;
    top: 2px;
}
/* Dialog */

/* File list */
#divDirWrapper {
    overflow: auto;
}
#divDirWrapper.dropFile #divDirUploadBackground {
    display: block;
}
#divDirWrapper #divDirUploadBackground {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    content: '';
    background-color: rgba(0,0,0,0.2);
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 32px;
}
#divDirList .fileLine {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-light-gray);
}
#divDirList .fileLine:after {
    content: '';
    display: block;
    clear: both;
}
#divDirList .fileLine.fileFilterOut {
    display: none;
}
#divDirList .fileName,#divDirList .fileNameIcon,#divDirList .fileNameLink,
#divDirList .fileTypeOrSize,#divDirList .fileModified {
    height: 58px;
    float: left;
}
#divDirList .fileRightPart {
    float: right;
}
#divDirList .fileRightPart:after {
    content: '';
    display: block;
    clear: both;
}
#divDirList .fileName {
    padding-left: 12px;
    cursor: pointer;
}
#divDirList .fileName:hover a {
    color: var(--color-android-light);
}
#divDirList .fileName:active a {
    color: var(--color-android-dark);
}
#divDirList .fileNameIcon {
    width: 48px;
}
#divDirList .fileNameIcon .materialIcons {
    font-size: 40px;
    color: var(--color-gray);
    margin-top: 9px;
}
#divDirList .fileNameLink {
    width: var(--file-name-width);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#divDirList .fileTypeOrSize {
    width: 100px;
}
#divDirList .fileModified {
    width: 160px;
}
/* File list */

/* Footer */
/* Footer */

/* Filter */
.filterBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 275px;
    height: 48px;
    line-height: 48px;
    background-color: white;
    border-radius: 6px 0 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    user-select: none;
    overflow: hidden;
    display: none;
}
.filterBox.filterShow {
    display: block;
}
.filterBox input[type='text'] {
    float: left;
    width: 160px;
    height: 20px;
    margin: 14px 10px 0 16px;
    border: 0;
    border-bottom: 1px solid var(--color-light-gray);
    border-radius: 0;
    outline: none;
    font-size: 16px;
}
.filterBox input[type='text']:focus {
    border-color: var(--color-android);
}
.filterBox .filterButton {
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 14px 10px 0 0;
    cursor: pointer;
}
.filterBox .filterButton .materialIcons {
    font-size: 20px;
}
.filterBox #filterBtnClose {
    margin-left: 10px;
    color: var(--color-gray);
}
.filterBox #filterBtnClose:hover {
    color: var(--color-android-light);
}
.filterBox #filterBtnClose:active {
    color: var(--color-android-dark);
}
/* Filter */

/* Others */
#divToast {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 1005;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--color-gray);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.materialIcons {
    font-size: 22px;
}
/* Others */
