/* Defines */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../asserts/GoogleSans-Regular.ttf) format('truetype');
}

:root {
    --color-1: #6aba60;
    --color-2: #007acc;
}
/* Defines */

/* Common */
* {
    padding: 0;
    margin: 0;
}
body {
    line-height: 1.3em;
    font-family: 'Product Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

img {
    border: 0;
}
ul {
    list-style-type: none;
}
/* Common */

/* Wrapper */
#bodyWrapper {
    width: 100%;
}
/* Wrapper */

/* Dir */
#divDirWrapper {
    border: 1px solid red;
    overflow: auto;
}
/* Dir */

/* Dialog */
#divDialogBackground {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
#divDialogWrapper {
    display: none;
    position: absolute;
    top: 120px;
    left: 100px;
    z-index: 1005;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    
}
#divDeviceList {
    width: 450px;
}
/* Dialog */

/* Footer */
/* Footer */

/* Others */

/* Others */
