*~
.DS_Store
*.bak
node_modules
ResourceHacker.log

icons/png/*
dist/electron-adb-file.app/*
dist/electron-adb-file/*
dist/electron-adb-file.linux.*.tar.xz
dist/electron-adb-file.win.*.7z
dist/electron-adb-file.app.macos.*.tar.xz
